.mapaConten{
    padding: 10px 10px;
	position:relative;
}
.mapaForm{
    background: #fff;
    padding: 10px;
}
.mapaFormFila{
	display:block;
}
.mapaFormBox{
	background: #f1f1f1;
	padding:5px;
	margin-bottom: 3px;
}
.mapaForm label{
	display:inline-block;
	width: 70px;
}
.mapaFormFilaLote{
	display:block;
}
.mapaOpciones{
	background: #ccc;
	position:absolute;
	top: 4%;
	right: 3%;
	z-index: 200;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 15px;
}
.mapaLoad{
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url("../img/loader.gif") no-repeat;
	background-size: 100%;
	visibility:hidden;
}
.mapaScroll{
    width: 100%;
	height: 550px; 
    position: relative;
    overflow: scroll;
    border: 1px solid #ccc;
}
.mapaBox {
    cursor:move;
    border: 1px dashed #444;
    position: absolute;
}
.mapaCont, .mapaCont img{
    width: 100%;
    height: 100%;
    position: relative;
}
.mapaMarker{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}
.mapaMarkerPuntos{
    width: 20px;
    height: 20px; 
    display: block;
    overflow: hidden; 
    background: url(../img/mapa_marker.png) 50% 50% no-repeat;
    background-size: 100% 100%;
    position: absolute;
    z-index: 150;
    cursor: pointer;
}
.mapaEstadosDisponible{
	background: url(../img/Disponible.png) 50% 50% no-repeat;
	background-size: 100% 100%;
}
.mapaEstadosVendido{
	background: url(../img/Vendido.png) 50% 50% no-repeat;
	background-size: 100% 100%;
}
.mapaEstadosReservado{
	background: url(../img/Reservado.png) 50% 50% no-repeat;
	background-size: 100% 100%;
}
.mapaEstadosBloqueado{
	background: url(../img/Bloqueado.png) 50% 50% no-repeat;
	background-size: 100% 100%;
}
.classOption{ 
	font-weight:bold;
	background:#c0ff83;
}